html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

textarea {
    resize: none;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.clickable {
	cursor : 'pointer'
}