<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" src="resources/jquery/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="resources/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="resources/css/styles.css"/>
    <script type="text/javascript" src="resources/js/app.js"></script>
    
<title>Login</title>
</head>
<body>
<div th:include="layout :: head"></div>
	Login Form
</body>
</html>