
body
{
	background-color: 	#FFF;
}

#mainPanel
{
	background-color: 	#F0F0F0;
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#headerPanel
{
	height: 75px;
	background-color: #4D94DB;
	margin: 2 2 2 2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#menuPanel
{
	height: 35px;
	background-color: #4D94DB;
	margin: 2 2 2 2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#navigationPanel
{
	float:left;
	height: 430px;
	width: 180px;
	background-color: #99C2EB;
	margin: 2 2 2 2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#contentPanel
{
	float:left;
	height: 430px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#footerPanel
{
	clear:both;
	height: 30px;
	background-color: #4D94DB;
	margin: 2 2 2 2;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.headerText
{
	font-size: 30px;
	font-family: sans-serif;
}
.navigationTbl tr td
{
	padding: 3 3 3 3;
	margin: 10 10 10 10;
	background-color: #4D94DB;
	width: 180px;
}
.navLink
{
	text-decoration: none;
}

.menu a
{
	text-decoration: none;
	font-size: 20px;
}