#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:cloud="http://schema.cloudfoundry.org/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/data/jpa
    					http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
						http://schema.cloudfoundry.org/spring 
						http://schema.cloudfoundry.org/spring/cloudfoundry-spring-0.6.xsd">
	
	<context:annotation-config />

	<context:component-scan base-package="${package}" />
	
	<context:property-placeholder location="classpath:application.properties" />
	
   	<jpa:repositories base-package="${package}.repositories" />
	
   	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<import resource="applicationContext-integration.xml"/>

		
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${symbol_dollar}{jdbc.driverClassName}"></property>
		<property name="url" value="${symbol_dollar}{jdbc.url}"></property>
		<property name="username" value="${symbol_dollar}{jdbc.username}"></property>
		<property name="password" value="${symbol_dollar}{jdbc.password}"></property>
		<property name="defaultAutoCommit" value="false"></property>
		<property name="initialSize" value="0"></property>
		<property name="maxActive" value="8"></property>
		<property name="maxIdle" value="8"></property>
		<property name="minIdle" value="0"></property>
		<property name="testOnBorrow" value="true"></property>
		<property name="testOnReturn" value="false"></property>
		<property name="testWhileIdle" value="false"></property>
		<property name="validationQuery" value="${symbol_dollar}{validationQuery}"></property>
		<property name="validationQueryTimeout" value="-1"></property>
	</bean>
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
       p:entityManagerFactory-ref="entityManagerFactory"/>
       
       
   	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
   		<!-- <property name="persistenceUnitName" value="LinkSharePU"></property> -->
       	<property name="dataSource" ref="dataSource"></property>
       	<property name="jpaVendorAdapter">
       		<bean 	id="jpaAdapter" 
       				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
         			p:showSql="${symbol_dollar}{hibernate.show_sql}"/>
       	</property>
       	<property name="jpaProperties">
       		<props>
       			<prop key="hibernate.dialect">${symbol_dollar}{hibernate.dialect}</prop>
       			<prop key="hibernate.hbm2ddl.auto">${symbol_dollar}{hibernate.hbm2ddl.auto}</prop>
       		</props>
       	</property>
       	<property name="packagesToScan" value="${package}.entities"></property>
       	<property name="loadTimeWeaver">
          <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
        
    </bean> 
    
	<!--  
	<bean id="emailService" class="${groupId}.core.email.EmailService">
	 	<property name="mailSender" ref="mailSender"></property>
	 </bean>
	 
	 <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/> 	
     <task:scheduler id="taskScheduler" pool-size="1"/>
     <task:executor id="taskExecutor" pool-size="1"/>
     
     <bean id="mailSender"
			class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="host" value="${symbol_dollar}{smtp.host}" />
		<property name="port" value="${symbol_dollar}{smtp.port}" />
		<property name="protocol" value="${symbol_dollar}{smtp.protocol}" />
		<property name="username" value="${symbol_dollar}{smtp.username}" />
		<property name="password" value="${symbol_dollar}{smtp.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtps.auth">true</prop>
				<prop key="mail.smtps.starttls.enable">true</prop>
				<prop key="mail.smtps.debug">true</prop>
			</props>
		</property>
	</bean> -->
     
</beans>
