<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="2.5" metadata-complete="true">

  <display-name>CXF Demo</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/spring/*</url-pattern>
	</servlet-mapping> -->

    <servlet>
   		<servlet-name>CXFServlet</servlet-name>
   		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
   		<load-on-startup>1</load-on-startup>
	  </servlet>
  	<servlet-mapping>
   		<servlet-name>CXFServlet</servlet-name>
   		<url-pattern>/services/*</url-pattern>
  	</servlet-mapping>
  
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>
	    	/WEB-INF/applicationContext.xml,
	    	/WEB-INF/cxf-servlet.xml
	    </param-value>
  </context-param>
	
</web-app>
